html, body {
  height: 100%;
  position: relative;
  max-width: 100%;
}

::selection {
  background: rgba(255, 187, 197, 0.733); /* WebKit/Blink Browsers */
}

#root {
  height: 100%;
}

.App {
  background: linear-gradient(70deg, rgba(255, 187, 197, 0.733), #FFFFFF);
  width: 100%;
  height: auto;
}

.App-header {
  width: 100vw;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: top;
  position: absolute;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(255, 187, 197);
}

.App-home {
  overflow: hidden;
}